.modal-content{
    border-radius: 20px;
}
.modal-header,
.popup .modal-footer {
  border: none;
}

.btn-primary {
  background-color:black;
  border: none;
}

.btn-secondary {
  background-color: #030303;
  border: none;
}
