.sidebar {
  width: 180px;
  height: 100vh;
  background-color: #1c1c1c;
  color: white;
  padding: 20px;
  height: 100%;
  position: relative; /* not fixed */
}


.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.sidebar ul li a:hover {
  color: #ffcc00;
}
